{% extends 'base.html' %}
{% load static %}

{% block title %}New arrivals{% endblock %}

{% block body %}
<div class="men-collection">
    <div class="myimg">
        <img src="{% static 'images/new-arrivals.jpg' %}" alt="...">
    </div>
    <div class="men-items row row-cols-2 row-cols-md-4 g-4">
        {% for i in data %}
        <div class="col">
            <div class="myCard card h-100">
                <img src={{i.image}} class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <h5 class="card-title">{{i.price}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="#"><button type="button">Buy now</button></a>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>

{% endblock %}