{% extends 'base.html' %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block body %}


{% if data %}
{% for i in data %}
<section class="gradient-custom-2" style="background-color: #e12b32;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="text-muted mb-0"> Order ID <span class="fw-bold text-body " style="font-size: 20px;">{{i.orderId}}</span></p>
                    <p class="text-muted mb-0"> Place On <span class="fw-bold text-body" style="font-size: 20px;">{{i.order_date}}</span> </p>
                </div>
                <div>
                    <h6 class="mb-0"> <a href="#">View Details</a> </h6>
                </div>
            </div>
            </div>
            <div class="card-body p-4">
                <div class="d-flex flex-row mb-4 pb-2">
                    <div class="flex-fill">
                        <h5 class="bold">{{i.productName}}</h5>
                        <h5 > Qt: {{i.productQty}}</h5>
                        <h4 class="mb-3"> ₹{{i.totalAmount}} </span></h4>
                    </div>
                    <div>
                        <img class="align-self-center img-fluid"
                    src="{{i.imageUrl}}" width="200" style="border-radius: 50%;">
                </div>
              </div>
              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span
                    style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                <li class="step0 text-muted text-end" id="step3"><span
                    style="margin-right: 22px;">DELIVERED</span></li>
              </ul>
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 class="fw-normal mb-0"><a href="">Track</a></h5>
                <h5 class="fw-normal mb-0"><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Cancel
                </button></h5>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        Do you want to cancel the order?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn"><a href="{{i.orderId}}">Yes</a></button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% else %}

<h1>No orders</h1>

{% endif %}

{% endblock  %}